.tooltip-bubble {
	position: fixed;
	background: rgba(0,0,0,0.90);
	border-radius: .3em;
    color: rgba(255,255,255,255);
    min-width: 40px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    padding: 0 5px;
    transition: 0.2s opacity, 0.2s transform;
    transform: translateY(0);
    font-weight: 500;
}

.tooltip-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: rgba(0,0,0,0.90);
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}

.tooltip-bubble.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}